.header__button {
    width: 56px;
    padding: 0;
    border-width: 0;
    background-color: black;
    color: #FFF;
}

@media screen and (max-width: 880px) {
    .header__button {
        margin: 18px auto 0 auto;
        text-align: center;
        max-width: calc(100% - 40px);
    }
}