.location__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: transparent url("../../../images/trash.svg") no-repeat center/cover;
  border: none;
  }